@view-transition {
  navigation: auto;
}

html,
body {
  overflow-x: hidden;
}

html {
  interpolate-size: allow-keywords;

}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Verdana, system-ui;
  cursor: url('/circle-outline.svg'), auto;
}

a,
button,
.btn,
#donate-btn {
  cursor: url('/circle-hover.svg'), auto;
}

:focus-visible {
  outline: 2px solid $primary;
  outline-offset: 2px;
}

.visually-hidden-focusable {
  width: fit-content;
  position: absolute;
  top: 10vh;
  left: 1rem;
  padding: 10px;
  color: white;
  z-index: 111;
}

dialog {
  border: none;
  max-width: 90vw;
  width: 400px;
  color: $body-color;
  background: $secondary;

  &::backdrop {
    background: rgba($dark, 0.7);
  }
}

#donate {
  scroll-margin-top: -3rem; // pulls heading up toward viewport top because there's a lot of padding on this section
}